@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeueRegular/HelveticaNeue.ttf'),
    url('./fonts/HelveticaNeueRegular/HelveticaNeue.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeueMedium/HelveticaNeue-Medium.ttf'),
    url('./fonts/HelveticaNeueMedium/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Halvetica/HelveticaNeueCyrBold.ttf'),
    url('./fonts/Halvetica/HelveticaNeueCyrBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeueLight/HelveticaNeue-Light.ttf'),
    url('./fonts/HelveticaNeueLight/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Chalkduster";
    src: url(".eot"); /* IE9*/
    src: url("./fonts/Chalkduster/Chalkduster.eot") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Chalkduster/Chalkduster.woff2") format("woff2"), /* chrome、firefox */
    url("./fonts/Chalkduster/Chalkduster.woff") format("woff"), /* chrome、firefox */
    url("./fonts/Chalkduster/Chalkduster.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("./fonts/Chalkduster/Chalkduster.svg .svg#Chalkduster") format("svg"); /* iOS 4.1- */
  }
  @font-face {
    font-family: 'Caveat';
    src: url('./fonts/caveat2/Caveatregular.woff2') format('woff2'), url('./fonts/caveat2/Caveatregular.woff') format('woff'), url('./fonts/caveat2/Caveatregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Caveat';
    src: url('./fonts/caveat2/Caveatbold.woff2') format('woff2'), url('./fonts/caveat2/Caveatbold.woff') format('woff'), url('./fonts/caveat2/Caveatbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}