@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/helveticaneue/HelveticaNeueMedium.ttf'),
    url('./fonts/helveticaneue/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica-Medium';
    src: url('./fonts/Halvetica/HelveticaNeueCyr-Medium.ttf'),
    url('./fonts/Halvetica/HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Halvetica/HelveticaNeueCyr-Bold.ttf'),
    url('./fonts/Halvetica/HelveticaNeueCyr-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Halvetica/HelveticaNeueCyr-Light.ttf'),
    url('./fonts/Halvetica/HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Chalkduster';
    src: url('./fonts/Chalkduster.ttf'),
    url('./fonts/Chalkduster.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}