@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeueRegular/HelveticaNeue.ttf'),
    url('./fonts/HelveticaNeueRegular/HelveticaNeue.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeueMedium/HelveticaNeue-Medium.ttf'),
    url('./fonts/HelveticaNeueMedium/HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/Halvetica/HelveticaNeueCyrBold.ttf'),
    url('./fonts/Halvetica/HelveticaNeueCyrBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('./fonts/HelveticaNeueLight/HelveticaNeue-Light.ttf'),
    url('./fonts/HelveticaNeueLight/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Chalkduster';
    src: url('./fonts/Chalkduster.ttf'),
    url('./fonts/Chalkduster.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}