*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    position: relative;
  }
body{
    scroll-behavior: smooth;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
    color: #3C3B3B;
    .container{
        max-width: 1231px;
        margin: 0 auto;
        padding: 0 15px;
    }
    img{
        width: 100%;
    }
    p{
        font-size: 16px;
        font-weight: 400;
    }
    p.simple__text{
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 16px;
        color: #000000;
    }
    h3{
        font-weight: 400px;
    }
    h3.title__underline{
        font-size: 36px;
        color: #000000;
        font-weight: 400;
        text-align: center;
        display: block;
        position: relative;
        margin-bottom: -35px;
        &::after{
            content: url(../image/underline.svg);
            display: block;
            position: absolute;
            bottom: -31px;
            left: 50%;
            -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                    transform: translateX(-50%);

        }
    }
    
    
}
header{
    display: none;
}
header, main, footer, .header-overflow{
    opacity: 0;
}
#Rectangle_217-4, #Rectangle_217-2, #Rectangle_217-6{
    rect{
        &:nth-child(1){
            stroke: rgb(1, 187, 214);
        }
    }
}
#Ellipse_17-4, #Ellipse_18-4, #Path_123-4, #Path_124-4, #Ellipse_18-4, #Line_32-4, #Line_33-4, #Path_123-3, #Path_124-3, #Ellipse_17-6, #Path_123-6, #Path_124-6, #Ellipse_18-6, #Line_32-6, #Line_33-6{
    stroke-width: 0;
}
#Path_122-18, #Path_122-16, #Path_122-14, #Path_122-12, #Path_122-10, #Path_122-8{
    stroke-width: 1px;
}
#Path_140{
    fill: #7fddea;
    path{
        &:nth-child(2){
            stroke: #000000;
            stroke-width: 2px;
        }
    }
}
#Path_82{
    fill: #00bbd5;
}
#Davyway, #Choose_the_right_way_with{
    font-family: Helvetica,sans-serif;
}